{
    "presets": [
        [
            "@babel/preset-env", 
            {
                "useBuiltIns": "entry",
                "corejs":3
            }
        ]
    ]

}

/*
 file 바뀐 거 저장하시고 그다음에 command line에 npm install core-js@3 --save 써주세요 
preset에서 이미 내가 core-js@3를 쓰겠다고 지정했기 때문에 다운로드도 같은 버전으로 해주시고요.
core-js@2는 이미 구 버전이라 다운로드를 받으니깐 not recommendable이라고 뜨더라고요.

그리고 index.js file에다가 import "core-js"써주시면 됩니다. 

자세한 건 아래 url로 가셔서 확인해보시면 될 것 같습니다. 
https://babeljs.io/docs/en/babel-preset-env
*/